

button:focus {outline:0;}

.contentWrap{
    height: 100%vh;
    width: 90%vw;
}

h1{
    font-size: 60px;
    padding-top: 15px;
    -webkit-animation: color-change 10s infinite;
    -moz-animation: color-change 10s infinite;
    -o-animation: color-change 10s infinite;
    -ms-animation: color-change 10s infinite;
    animation: color-change 10s infinite;
}

@-webkit-keyframes color-change {
    0% { color: white; }
    25% { color: gray; }
    50% { color: rgb(93, 201, 251); }
    75% { color: gray; }
    100% { color: white; }
}
@-moz-keyframes color-change {
    0% { color: white; }
    25% { color: gray; }
    50% { color: rgb(93, 201, 251); }
    75% { color: gray; }
    100% { color: white; }
}
@-ms-keyframes color-change {
    0% { color: white; }
    25% { color: gray; }
    50% { color: rgb(93, 201, 251); }
    75% { color: gray; }
    100% { color: white; }
}
@-o-keyframes color-change {
    0% { color: white; }
    25% { color: gray; }
    50% { color: rgb(93, 201, 251); }
    75% { color: gray; }
    100% { color: white; }
}
@keyframes color-change {
    0% { color: white; }
    25% { color: gray; }
    50% { color: rgb(93, 201, 251); }
    75% { color: gray; }
    100% { color: white; }
}



.portfolioTitle{
    position: relative;
    left: -15%;
    bottom: 50px;
}

.portfolioButtons{
    position: absolute;
    left: -13%;
    top: 138%;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 5px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, gray, rgb(93, 201, 251), gray, rgb(93, 201, 251), gray);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    outline: none;
}

.glow-on-hover:active {
    color: #000;
    outline: none;
}

.glow-on-hover:active:after {
    background: transparent;
    outline: none;
}

.glow-on-hover:hover:before {
    opacity: 1;
    outline: none;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
    outline: none;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
